body {
    margin: 5px;
    background-color: #dcccac;
}

#caroudiv {
    height: 150px;
}

.h11 {
    color: #dcccac;
    background-color: #99ad7a;
    height: 30px;
    border-radius: 1rem;
}

.prim {
    background-color: #546b41;
    color: #dcccac;
}

.seconda {
    background-color: #99ad7a;
    color: #dcccac;
}